/* Vertical line*/
.v1 {
    border-left: 3px solid #111;
    height: 2600px;
    position: absolute;
    left: 20%;
    margin-top: 20px;
}

.sub-heading h1 {
    width: 1000px;
    height: 50px;
    margin-left: 23%;
    margin-top: 20px;
    text-decoration: underline;
}

.sub-heading h4 {
    width: 1000px;
    height: 50px;
    margin-left: 23%;
    margin-top: 20px;
    text-decoration: none;
}

.img-1 {
    margin-left: 23%;
}

.main-content {
    margin-left: 23%;
}

.para-1 {
    width: 900px;
    line-height: 2;
}